<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add new swimming lesson</title>
</head>
<body>
<h1 th:text="'Hello, Welcome to Uimala!'"></h1>
<form method="post" action="/addCourse">
        <label for="courseName">Kurssin Nimi:</label>
        <input type="text" id="courseName" name="courseName" required><br><br>

        <label for="place">Paikka:</label>
        <input type="text" id="place" name="place" required><br><br>

        <label for="date">Kurssin ajankohta:</label>
        <input type="date" id="date" name="date" required><br><br>

        <label for="time">Aika:</label>
        <input type="text" id="time" name="time" required><br><br>

        <label for="coach">Ohjaaja:</label>
        <input type="text" id="coach" name="coach" required><br><br>

        <button type="submit">Lisää Kurssi</button>
    </form>

   
    
</body>
</html>
</body>
</html>