<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>

<div class="card">
    <div class="card-body">
        <form th:action="@{/editCourse}" th:object="${course}" method="post">

            <div class="form-group">
                <label for="courseName">Kurssin nimi:</label>
                <input type="text" class="form-control" id="courseName" name="courseName" th:value="${course.courseName}" required>
            </div>

            <div class="form-group">
                <label for="place">Paikka:</label>
                <input type="text" class="form-control" id="place" name="place" th:value="${course.place}" required>
            </div>

            <div class="form-group">
                <label for="date">Kurssin ajankohta:</label>
                <input type="date" class="form-control" id="date" name="date" th:value="${course.date}" required>
            </div>

            <div class="form-group">
                <label for="time">Aika:</label>
                <input type="text" class="form-control" id="time" name="time" th:value="${course.time}" required>
            </div>

            <div class="form-group">
                <label for="coach">Ohjaaja:</label>
                <input type="text" class="form-control" id="coach" name="coach" th:value="${course.coach}" required>
            </div>

            <input type="hidden" th:field="*{id}" />

            <button type="submit" class="btn btn-success">Save Changes</button>
        </form>
    </div>
</div>


</body>
</html>
