<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>

<div class="card">
    <div class="card-body">
        <form th:action="@{/editCourse}" th:object="${course}" method="post">

            <div class="form-group">
                <label for="courseName">Kurssin nimi:</label>
                <input type="text" class="form-control" id="courseName" name="courseName" th:value="${course.courseName}" >
            
            </div>

            <div class="form-group">
                <label for="place">Paikka:</label>
                <input type="text" class="form-control" id="place" name="place" th:value="${course.place}" >
            </div>

            <div class="form-group">
                <label for="date">Kurssin aloitus:</label>
                <input type="date" class="form-control" id="date" name="date" th:value="${course.date}" >
            </div>

            <div class="form-group">
                <label for="time">Aika:</label>
                <input type="text" class="form-control" id="time" name="time" th:value="${course.time}" >
            </div>

            <div class="form-group">
                <label for="coach">Ohjaaja:</label>
                <input type="text" class="form-control" id="coach" name="coach" th:value="${course.coach}" >
            </div>

            
            <div class="form-group">
                <label for="poollist">Uimahalli</label>
                <select class="form-control"  th:field="*{pool}">
                    <option th:each="pool : ${pools}" th:value="${pool.poolid}" th:text="${pool.poolName}"></option>
                </select>
            </div>

            <input type="hidden" th:field="*{id}" />
			<br>
            <button type="submit" class="btn btn-success">Tallenna muutokset</button>
        </form>
    </div>
</div>

</body>
</html>
